<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="Nikos.One" version="1.0.5559.23566" targetFramework="net451" />
  <package id="Nikos.One.Client" version="1.0.5559.23565" targetFramework="net451" />
  <package id="Nikos.One.ServiceContracts" version="1.0.5559.23563" targetFramework="net451" />
  <package id="Nikos.One.ServiceModel.Client" version="1.0.5559.23564" targetFramework="net451" />
  <package id="Nikos.One.Templating" version="1.0.5559.23572" targetFramework="net451" />
  <package id="Nikos.Toolbelt" version="1.0.5559.23588" targetFramework="net451" />
  <package id="Nikos.Toolbelt.Compilers" version="1.0.5559.23590" targetFramework="net451" />
</packages>